*.pt
*.tar
*.zip
SLURM_FILES/
classifier_models/models_for_area/
classifier_models/models_for_customer_rating
classifier_models/models_for_family_friendly
classifier_models/models_for_food
classifier_models/models_for_name
classifier_models/models_for_near
classifier_models/models_for_price
classifier_models/models_for_Type
classifier_models_dummy/
dataset/e2e_data/multicontrol_200.txt
dataset/e2e_data/multicontrol_filter.txt
dataset/e2e_data/multicontrol.txt
dataset/e2e_data/src1_test.txt
dataset/e2e_data/src1_train.txt
dataset/e2e_data/src1_valid.txt
dataset/e2e_data/target_attribute.json
dataset/e2e_data/test_perplexity.txt
label_maps/
label_maps_2/
bert_classifier_models_2/
bert_classifier_models/models_for_customer_rating/
bert_classifier_models/models_for_len/
bert_classifier_models/models_for_name/
bert_classifier_models/models_for_near/
bert_classifier_models/models_for_price/
# trained_models_text_generation/gpt2_e2e_0.pt
trained_models_text_generation/gpt2_e2e_5.pt
archive/
*.ipynb

